@page "/certificates"
@using MudBlazor
@using RedMaple.Orchestrator.Security
@using RedMaple.Orchestrator.Security.Models
@using RedMaple.Orchestrator.Security.Services
@using System.Security.Cryptography.X509Certificates
@rendermode InteractiveServer
@inject CertificateAuthority certificateAuthority
<MudPopoverProvider />

<h1>Root Certificate</h1>
@rootCert?.GetSerialNumberString();

<h1>CA Certificate</h1>
@caCert?.GetSerialNumberString();

@code {
    private X509Certificate? rootCert;
    private X509Certificate? caCert;

    protected override async Task OnInitializedAsync()
    {
        rootCert = await certificateAuthority.GetRootCertificateAsync();
        caCert = await certificateAuthority.GetCaCertificateAsync();
    }
}