@page "/node/{id}/containers/{containerId}/logs"
@rendermode InteractiveServer

<div class="log-container">
    <ContainerLogView NodeId="@Id" ContainerId="@ContainerId"/>
</div>

@code {
    [Parameter] public string Id { get; set; } = null!;
    [Parameter] public string ContainerId { get; set; } = null!;
}