@using Microsoft.Extensions.Diagnostics.HealthChecks
@using RedMaple.Orchestrator.Controller.Domain.Healthz.Models
@if (Health is not null)
{
    <div style="display: flex;">
    <div class="badge health-@Health.Status">
        @if (Health.Status == HealthStatus.Healthy)
        {
            <i class="fa-solid fa-heart"></i>
        }
        else if (Health.Status == HealthStatus.Unhealthy)
        {
            <i class="fa-solid fa-heart-crack"></i>
        }
        else if (Health.Status == HealthStatus.Degraded)
        {
            <i class="fa-regular fa-heart"></i>
        }

        @if (Health.Duration.TotalMilliseconds > 0)
        {
            <span>@((int)Health.Duration.TotalMilliseconds)ms</span>
        }
    </div>
    </div>
}

@code {
    [Parameter]
    public ResourceHealthCheckResult? Health { get; set; }

}
