.container {
    padding: 1rem;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.2);
    color: #eeeef5;
}
.container .lines {
    font-family: monospace;
}

span.loglevel-info {
    color: cyan;
}
.container .lines .loglevel-warn {
    color: yellow;
}
.container .lines .loglevel-fail {
    color: red;
}
.container .lines .loglevel-crit {
    color: hotpink;
}